<div id="view" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="">
    <div class="container text-center">
       <h1 id="share-your-secrets" style="margin-top:15px">Share your secrets <small class="text-muted">securely</small></h1 >
    </div>
  </div>
  <div class="container">
    <div class="secret-form-container">
      <hr>
      <div class="row">
        <div class="col-lg-8 offset-2">
          <ajax-form action="decrypt" :syncing.sync="syncing" :cloud-error.sync="cloudError" :uu-id="uuId" :form-data="formData" :form-errors="formErrors" :form-rules="formRules" @submitted="submittedForm(arguments[0])" v-if="!complete">
            <div class="form-group">
              <input id="key-input" type="password" class="form-control" placeholder="Enter your access key" :class="[formErrors.key ? 'is-invalid' : '']" v-model.trim="formData.key" focus-first>
              </input>
              <input type="hidden" v-model.trim="formData.uuId">
              <div class="invalid-feedback" v-if="formErrors.key">Invalid Key</div>
            </div>
            <div class="form-group">
              <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block"><i class="fa fa-lock"></i>
                 &nbsp;View my secret</ajax-button>
            </div>

          </ajax-form>
          <div  v-if="complete">
            <input id="secret-input" class="form-control" focus-first readonly v-model.trim="secret">
            </input>
            <input class='btn-dark btn-lg btn-block' id="copy-secret" type='submit' v-on:click.prevent="copy('secret-input')" value="Copy">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- Three columns of text below the carousel -->
    <div class="row align-items-center text-center">

      <div class="col-lg-4 offset-2 col-sm-12 align-content-center">
        <div class="big-icon-container rounded">
          <!--div style="background-color:#333" class="rounded"-->
          <i class="big-icon fa fa-unlock"></i>
          <!-- /div -->
          <h2>Access</h2>
          <p>
            Type in your unique key to access your stored secret
          </p>

        </div><!-- /.col-lg-4 -->
      </div>

      <div class="col-lg-4 col-sm-12 align-content-center">
        <div class="big-icon-container rounded">
          <!--div style="background-color:#333" class="rounded"-->
          <i class="big-icon fa fa-trash"></i>
          <!-- /div -->
          <h2>Destroyed</h2>
          <p>
            After you have accessed your secret, it will be destroyed for ever
          </p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
